html {
    --bg: #fdf6ea;  /* solarized base3 */
    --fg: #073642;
    --fg-acc: #002b36;
}

body {
    text-align: justify;
    hyphens: auto;

    background-color: var(--bg);
    margin: auto;
    color: var(--fg);
    /*width: min(17cm, 90vw);*/

    padding-left: 1cm;
    padding-right: 1cm;
    padding-top: 0.2cm;
    padding-bottom: 2cm;
    width: calc(min(17cm, 100vw - 2cm));
    /* min(14pt, x*vw) */
    /* if vw = 19cm, x*vw = 14pt ==> x = 14pt/19cm */
    /*font-size: calc(min(14pt, (14pt/19cm) * 100vw));*/
    font-size: calc(min(14pt, 2.6vw));  /* firefox compat */

    font-family: "libertinus serif";
}

.display-eqn {
    text-align: center;
}

.problem-box {
    border: 2pt solid var(--fg-acc);
    padding: 0pt 10pt;
}
.problem-box hr {
    width: calc(100% + 20pt);
    transform: translateX(-10pt);
    height: 2pt;
    border: none;
    background-color: var(--fg-acc);
}

h2 {
    font-size: 1.3em;
    margin-bottom: 0pt;
}

h2 a {
    text-decoration: none;
    color: inherit;
}

@media (width >= 32cm) {
    [role=doc-endnotes] li {
        position: absolute;
        top: 1000000000000pt;
        left: calc(50vw + 17cm / 2 + 1cm); /* ie. 1cm to the left */
        right: 0.8cm;
        text-align: left;
    }
    a[role=doc-backlink], a[role=doc-noteref] {
        cursor: default;
        pointer-events: none;
        text-decoration: none;
        color: var(--fg);
    }
    a[role=doc-backlink]:after {
        content: " ";
    }

    .footnote-sep {
        display: none;
    }
}
